Repository ess-uofc/ess-schulichhub, pull requests merged in 2021-03, with the labels that each got.

#86 Fix: well-knowns serving bug
  public/.well-known/microsoft-identity-association.json
  public/index.html
Labels: automerge, bug

#102 Fix: Added spellcheck to text boxes
  src/components/CommentCompose.tsx
  src/components/WritePost.tsx
  src/pages/PostView.tsx
Labels: automerge, front-end

#103 fix: Fixed the linear typing when writing a post
  src/components/WritePost.tsx
Labels: automerge, bug, front-end

#106 fixed line break [issue 93] and added scrolling bar for PostView
  package.json
  src/components/PostContainer.scss
  src/components/PostContainer.tsx
  src/pages/PostView.scss
  yarn.lock
Labels: automerge, bug, front-end, scss
