Repository ess-uofc/ess-schulichhub, pull requests merged in 2021-01, with the labels that each got.

#31 Fix badge spacing issues
  README.md
Labels: bug, documentation

#33 removed remaining HTML tags
  src/components/PostContainer.scss
  src/components/PostContainer.tsx
  src/pages/Home.scss
  src/pages/Home.tsx
Labels: enhancement

#35 Added Ionic CLI instructions to README and fixed lint command
  README.md
Labels: documentation

#36 Add Redux functionality
  package.json
  src/app/store.tsx
  src/features/counter/Counter.scss
  src/features/counter/Counter.tsx
  src/features/counter/counterSlice.tsx
  src/index.tsx
  yarn.lock
Labels: enhancement

#40 Applied fix for /register and other auth routes redirecting to /login
  src/App.tsx
  src/app/routing.tsx
  src/pages/Login.tsx
Labels: bug

#43 Changed prettier rules error to warn in .eslintrc.json
  .eslintrc.js
Labels: enhancement
