Repository ess-uofc/ess-schulichhub, pull requests merged in 2021-02, with the labels that each got.

#49 Fixed PWA App Name in App Manifest
  public/manifest.json
Labels: bug

#55 Fixed the login page scale on moblie
  src/pages/Login.scss
Labels: enhancement

#59 Comment Class
  src/Models/Comment.ts
Labels: enhancement

#60 Automatically tag version on pull request merge
  .github/workflows/firebase-hosting-merge.yml
  package.json
Labels: enhancement

#61 Second attempt at auto tagging
  .github/workflows/firebase-hosting-merge.yml
Labels: bug, enhancement

#62 Third attempt autotagging
  .github/workflows/firebase-hosting-merge.yml
Labels: bug, enhancement

#71 Fixed Registration not working issue
  src/components/RegisterFormComp.tsx
Labels: automerge, bug

#74 Fixed squished button bug on landing page for mobile
  src/components/LandingInfo.scss
  src/components/LandingInfo.tsx
Labels: automerge, bug

#75 Enable push to protected branch
  .github/workflows/firebase-hosting-merge.yml
Labels: enhancement

#77 Added "Majors" json file with majors separated by faculty
  src/majors.json
Labels: automerge, feature
